<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, id: "name", placeholder: "Nome", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email", id: "email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject, "Assunto" %>
    <%= f.text_field :subject, placeholder: "Assunto", id: "subject", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message, "Mensagem" %>
    <%= f.text_area :message, placeholder: "Mensagem", id: "message", rows: "5", class: "form-control" %>
  </div>
  <%= f.submit "Enviar", class: "btn btn-danger" %>
<% end %>

<!-- <form role="form">

  <div class="form-group">
  <label for="email">Email</label>
  <input type="text" placeholder="" id="email" class="form-control">
  </div>
  <div class="form-group">
  <label for="phone">Fone</label>
  <input type="text" id="phone" class="form-control">
  </div>
  <div class="form-group">
  <label for="phone">Mensagem</label>
  <textarea placeholder="" rows="5" class="form-control"></textarea>
  </div>
  <button class="btn btn-danger" type="submit">Enviar</button>
</form> -->